<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:pb="http://typo3.org/ns/PatrickBroens/Pbsurvey/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<pb:pageRenderer.addJsFooterLibrary
	name="jQuery"
	file="{f:uri.resource(path: 'Javascript/Vendor/jQuery/jquery-2.2.1.min.js', extensionName: 'pbsurvey')}"
	forceOnTop="1"
/>
<pb:pageRenderer.addJsFooterLibrary
	name="parsley"
	file="{f:uri.resource(path: 'Javascript/Vendor/Parsley/parsley.js', extensionName: 'pbsurvey')}"
/>
<pb:pageRenderer.addJsFooterFile
	file="{f:uri.resource(path: 'Javascript/Initialize.js', extensionName: 'pbsurvey')}"
/>
<pb:pageRenderer.addCss
	file="{f:uri.resource(path: 'CSS/Style.min.css', extensionName: 'pbsurvey')}"
/>

<div class="pbsurvey">

	<f:if condition="{configuration.numberingPage}">
		<f:render partial="NumberingPage" arguments="{numberingPage: configuration.numberingPage, pageNumber: user.pageNumber, pageCount: pages.pageCount}" />
	</f:if>

	<f:if condition="{page.title}">
		<h1>{page.title}</h1>
	</f:if>

	<f:if condition="{page.introduction}">
		{page.introduction -> f:format.html()}
	</f:if>

	<form id="pbsurvey-form" method="post">
		<div class="page-error{f:if(condition: page.valid, then: ' hidden')}">
			<h2>
				<f:render partial="translate" arguments="{key: 'page.error.title'}" />
			</h2>
			<p>
				<f:render partial="translate" arguments="{key: 'page.error.message'}" />
			</p>
		</div>

		<f:render section="Items" />

		<f:if condition="{configuration.navigationBack}">
			<f:if condition="{user.stageNumber} != 0">
				<input
					type="button"
					name="pbsurvey_{configuration.uid}[back]"
					data-pbsurvey-button-back=""
					value="{f:render(partial: 'translate', arguments: {key: 'button.back'})}" />
				/>
			</f:if>
		</f:if>

		<f:if condition="{user.pageNumber} < {pages.pageCount}">
			<f:then>
				<input
					type="submit"
					name="pbsurvey_{configuration.uid}[submit]"
					value="{f:render(partial: 'translate', arguments: {key: 'button.submit.next'})}"
				/>
			</f:then>
			<f:else>
				<input
					type="submit"
					name="pbsurvey_{configuration.uid}[submit]"
					value="{f:render(partial: 'translate', arguments: {key: 'button.submit.finish'})}"
				/>
			</f:else>
		</f:if>

		<f:if condition="{configuration.navigationCancel}">
			<input
				type="button"
				name="pbsurvey_{configuration.uid}[cancel]"
				data-pbsurvey-button-cancel="{configuration.navigationCancel}"
				value="{f:render(partial: 'translate', arguments: {key: 'button.cancel'})}"
			/>
		</f:if>
	</form>
</div>

</html>